.card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  align-items: stretch;
}
.foritem {
  display: flex;

  flex-wrap: wrap;
}
.item i {
  font-size: 62px;
  margin-top: 5px;
}
.item {
  margin: 0px 15px;
  text-align: center;
}
.item :hover {
  color: green;
}

.row {
  display: flex;
  --bs-gutter-x: none;
  flex-wrap: wrap;
}
.card {
  width: 400px;
  height: 500px;
  margin: 30px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  align-items: center;
  justify-content: center;
}
.card:hover {
  transition: 0.3 ease-in-out;
  transform: scale(1.1);
}

img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.scroll {
  overflow: auto;
  text-overflow: ellipsis;
  max-width: 100ch;
}
.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgb(168, 167, 167);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  background: white;
}
